body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-30deg, #1D323F, #DFEEEA, #5E8B7E);
}

.container {
    width: 93%;
    height: 92vh;
    background-color: #8cfddf54;
    border-radius: 30px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.2fr 1fr 0.15fr;
    grid-template-areas:
        "nav nav"
        "profile Userlist"
        "footer footer";
}

nav {
    background-color: #8ebab6;
    grid-area: nav;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.Userlist {
    background-color: #a1c7c769;
    margin-left: 20px;
    margin-right: 20px;
    grid-area: Userlist;
    border-radius: 20px;
}

.profile {
    background-color: #a1c7c7;
    margin-left: 20px;
    grid-area: profile;
    border-radius: 20px;
}

img {
    display: block;
    max-height: 60%;
    max-width: 60%;
    border-radius: 30%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

.delete {
    border-radius: 20px;
    border: none;
    background: linear-gradient(#a1ecc3, #23795b);
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    font-size: 25px;
}

.delete:hover {
    background: linear-gradient(#23795b, #a1ecc3);
}

.admin {
    border-radius: 20px;
    border: none;
    background: linear-gradient(#a1ecc3, #23795b);
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    font-size: 25px;
}

.admin:hover {
    background: linear-gradient(#23795b, #a1ecc3);
}

form {
    margin-left: auto;
    padding: 20px;
}

input {
    border-radius: 20px;
    font-size: 25px;
}

footer {
    background-color: #B9D3CD;
    grid-area: footer;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}