* {
    background-color: rgba(82, 183, 136, 1);
}

.content {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.5fr 2fr 2fr;
    grid-template-areas:
        "seedit login-form"
        "img login-form"
        "img login-form";
}

.seedit {
    background-color: rgba(82, 183, 136, 1);
    grid-area: seedit;
}

.login-form {
    grid-area: login-form;
    border-radius: 35px;
    background-color: rgba(8, 28, 21, 1);
    display: flex;
    justify-content: center;
    padding: 390px;

}

.login {
    width: 100%;
    margin-top: -180px;
    height: 300px;
    border: 2px solid rgba(153, 217, 140, 1);
    box-shadow: rgba(161, 236, 195, 1);
    border-radius: 10px;
    text-align: center;
}

#username {
    margin-top: 20px;
}

.submit {
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid rgba(45, 106, 79, 1);
    color: rgba(8, 28, 21, 1);
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.submit:hover {
    background-color: rgba(161, 236, 195, 1);
}

.input {
    background: transparent;
    border-bottom: 2px solid rgba(8, 28, 21, 1);
    color: rgba(8, 28, 21, 1);
    text-align: center;
}

.img {
    background-color: rgba(82, 183, 136, 1);
    grid-area: img;
}

.main-logo {
    display: block;
    margin-left: 33px;
    margin-top: 18px;
    margin-right: auto;
    width: 300px;
    border-radius: 30px;
}

.tree {
    width: 400px;
    margin-top: 300px;

}

@media only screen and (max-width: 480px) {
    .content {
        grid-template-rows: 1fr 4fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "seedit"
            "login-form"
            "login-form";
    }

    .login-form {
        margin-top: 40px;
        width: 400px;
        margin-left: 10px;
        margin-right: 200px;
    }

    .login {
        margin-right: 675px;
    }

    .main-logo {
        margin-left: 75px;
    }
}