@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


:root {
    --darkGreen: #2c4451;
    --lightGreen: #3d545a;
    --white: white;
    --dark: #333;

    /*These are the colors for */

    --grey: #b5bbc5;
    --black: #0e222c;
    --grey2: #768691;
    --green: #526774;
    --green2: #2c4451;
    --green3: #3d545a;
    --grey3: #74849c;
    --brown: #747c8a;
    --brown2: #474534;
}


body {
    font-family: 'Merriweather', serif;
    border: 0px;
    margin: 0px;
}

.about-section {
    font-size: large;
    padding: 20px;
    text-align: center;
    background-color: var(--darkGreen);
    color: var(--white);
}

.mobile-container {
    margin: auto;
    color: var(--dark);
    border-radius: 10px;
    height: 900px;
}

.middle {
    font-size: larger;
    text-align: center;
}

.background {
    background-image: url(./tree.jpg);
}

.topnav {
    overflow: hidden;
    background-color: #3d545a;
    position: relative;

}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a:not(.active) {
    padding: 14px 16px;
}

.topnav a.icon {
    background: #0e222c;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: #0e222c;

}

.active {
    background-color: #b5bbc5;
    color: rgb(63, 101, 94);
    font-weight: bolder;
}


.search-container button {
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar {
    border-radius: 20px;
    width: 50%;
}

.custom-select {
    margin: auto;
    width: auto;
    border: 3px solid #3d545a;
    padding: 10px;
    position: relative;
    font-family: 'Merriweather', serif;
    border-radius: 30px;
    display: inline-block;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: #3d545a;
    border-radius: 20px;
    width: auto;
    display: inline-block;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #526774;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: rgb(0, 0, 0);
    background: linear-gradient(to bottom right, #c2cad7c4, #47595500);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: auto;
    border-radius: 20px;
}

.button:hover {
    background: linear-gradient(to bottom right, #47595500, #c2cad7c4);
    color: white;
}

.logoImage {
    width: 40px;
    margin: 0%;
    padding: 0%;
}

.button a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}


.chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    right: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.collapsible {
    background-color: #747c8a;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 350px;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 10px 10px 0px 0px;
    border: 3px solid white;
    border-bottom: none;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.full-chat-block {
    width: 350px;
    background: white;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.2s ease-out;
}

.outer-container {
    min-height: 500px;
    bottom: 0%;
    position: relative;
}

.chat-container {
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-bar-input-block {
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
}

.chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    font-size: 20px;
}

#chat-icon:hover {
    opacity: .7;
}

/* Chat bubbles */

#userInput {
    width: 75%;
}

.input-box {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none
}

.userText {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
}

.userText span {
    line-height: 1.5em;
    display: inline-block;
    background: #5ca6fa;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards
}

.botText {
    color: #000;
    font-family: 'Merriweather', serif;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}

.botText span {
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards
}

#phantom {
    background: transparent;
    border: none;
    height: 200px;
}



@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }

    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }

    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
    }
}